<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Delete Person</title>
  <link rel="stylesheet" href="styles.css"> <!-- Assuming external styles are used -->
</head>
<body>
  <div class="container">
    <h2>Delete Person</h2>
    <p>Are you sure you want to delete {{ personName }}?</p>

    <div class="button-group">
      <button class="btn btn-danger" (click)="confirmDelete()">Yes, Delete</button>
      <button class="btn btn-secondary" routerLink="/people">Cancel</button>
    </div>
  </div>
</body>
</html>
